# Dependencias Composer
/vendor/

# Variables de entorno
.env

# Archivos temporales
*.log

# Cache
/app/Storage/cache/*
!/app/Storage/cache/.gitkeep

# Logs
/app/Storage/logs/*
!/app/Storage/logs/.gitkeep

# Subidas de usuarios
/public/uploads/*
!/public/uploads/.gitkeep

# Configuración VS Code
.vscode/

# Sistema operativo
Thumbs.db
.DS_Store